# Compiled Object files
*.slo
*.lo
*.o
*.py[cod]

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# IDE preferences
CMakeLists.txt.user

# build remnants
_build

# Executables
*.exe
*.out
*.app
